<connectionStrings>
  <add name="NWDB" 
       connectionString="Data Source=.; Initial Catalog=NorthWind_CPSC1517; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
  
  <!-- if sql express at home -> reverse comments-->
  
  <!--<add name="NWDB"
       connectionString="Data Source=XXXX\SQLEXPRESS; Initial Catalog=NorthWind_CPSC1517; Integrated Security=true"
       providerName="System.Data.SqlClient"/>-->
</connectionStrings>